/* Fonts */

.playfair {
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

.special-gothic {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 200;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h1 {
    font-family: "Special Gothic Expanded One";
    font-size: 2rem;
    letter-spacing: 2px;
    position: absolute;
    top: 5%;
    filter: brightness(0) saturate(100%) invert(12%) sepia(80%) saturate(800%) hue-rotate(310deg); /* burgundy tint */
}

/* Scroll snapping to sections */
main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/* Makes each section a snap point */
.hero, .music, .videos, .shows, .contact {
    scroll-snap-align: start;
}

.hero {
    position: relative;
    background-image: url('./media/BH5481_3JuliaGirosHQ_ADDED-BACKGROUND_2_CONVERT.webp');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 35%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
   
   
    /*
    position: relative;
    width: 100%;
    height: 100vh; /* fill the full screen height */
    /*
    background-image: url('./media/BH5481_3JuliaGirosHQ_ADDED-BACKGROUND.jpg');
    background-repeat: no-repeat;
    background-size: contain; /* shows full image with band in center */
    /*
    background-position: center top; /* align band to center, keep top visible */
    /*background-color: #ddd6ce; /* a dark burgundy fallback color */
    /*
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    */
}

/* Keep logo nicely at the top */
.banner {
    display: hidden;
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    z-index: 2;
}

.banner .logo {
    max-width: 35%;
    height: auto;
    filter: brightness(0) saturate(100%) invert(12%) sepia(80%) saturate(800%) hue-rotate(310deg); /* burgundy tint */
}

/* Nav bar inside hero section */
.navbar {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
    z-index: 2;
}

.navbar ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.navbar li {
    /* font-family: "Special Gothic Expanded One"; */
    font-family: "Playfair Display";
    /* font-weight: bold; */
    font-size: 1.5rem;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(12%) sepia(80%) saturate(800%) hue-rotate(310deg); /* burgundy tint */
    transition: transform 0.3s ease;
    }

.navbar li:hover {
    transform: scale(1.15);
}

/* Socials links */

.socials {
    position: absolute;
    bottom: 2%;
    margin-bottom: 1rem;
    z-index: 2;
} 

.socials ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.socials li {
    margin-inline: 8px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(12%) sepia(80%) saturate(800%) hue-rotate(310deg); /* burgundy tint */
    transition: transform 0.3s ease;
    }

.socials li:hover {
    transform: background-color(white);
}

.socials li img {
    height: 30px;
    width: auto;
}

/* Music Section */

.music {
    position: relative;
    background-image: url('./media/BH5254_3JuliaGirosHQ_BG_CONVERT.webp');
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% 73%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
   }


.music h2 {
    position: absolute;
    bottom: 5%;
    font-family: "Playfair Display";
    font-size: 1.5rem;
    border: solid 2px darkred;
    border-radius: 50px;
    padding: 5px 20px;
    filter: brightness(0) saturate(100%) invert(12%) sepia(80%) saturate(800%) hue-rotate(310deg); /* burgundy tint */
}

   /* Music Carousel */

   
.music-carousel-container {
  position: relative;
  width: 80%;
  right: 9%;
  height: 100%;
  overflow: hidden;
  z-index: 2;

}

.carousel-slide {
  position: relative;
  width: 100%;
  height: 50%;
  top: 25%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.release {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s ease;
}

.release-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.release .spotify-player {
    height: 47vh;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    /*background-color: RGB(88,16,32);*/
    box-shadow: 0 70px 50px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}


.release img {
    height: 100%;
    width: auto;
    max-width: 28%;
    box-shadow: 0 70px 50px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    /* border: solid 5px darkred; */

}

.release-title {
    margin-top: 1rem;
    font-size: 2rem;
}

.release-info {
    font-size: 1.5rem;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;
  background: transparent;
  color: RGB(88,16,32);
  border: none;
  cursor: pointer;
  z-index: 2;
  padding: 0.5rem;
}

.arrow.left {
  left: 5%;
}

.arrow.right {
  right: 5%;
}

.videos {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% 20%;
    background-image: url('./media/BH5563_3JuliaGirosHQ_CONVERT.webp');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.shows {
    position: relative;
    background-image: url('./media/BH5324_3JuliaGirosHQ_BG_CONVERT.webp');       
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% 35%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.schedule-grid {
    position: absolute;
    top: 32%;
    text-align: left;
}

 td {
    font-family: "Playfair Display";
    font-size: 2.25rem;
    color: RGB(88,16,32);
    border-bottom: RGB(88,16,32) solid 0.1px;
    padding-right: 125px;
    padding-block: 50px;
    text-align: left;
}

td a {
    color: inherit;
}
 .location {
    padding-right: 300px;
}

td button {
    font-family: "Special Gothic Expanded One";
    font-size: 1.25rem;
    color: whitesmoke;
    padding: 12px;
    border-radius: 10px;
    background-color: RGB(88,16,32);
    cursor: pointer;
}

